In [2]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [3]:
#Read input file and understand the data
# "default" is my dependent variable
df = pd.read_csv("german_credit.csv")
df

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
5,0,no checking account,36,existing credits paid back duly till now,(vacation - does not exist?),9055,unknown/ no savings account,1 <= ... < 4 years,2,male : single,...,4,unknown / no property,35,none,for free,1,unskilled - resident,2,"yes, registered under the customers name",yes
6,0,no checking account,24,existing credits paid back duly till now,radio/television,2835,500 <= ... < 1000 DM,.. >= 7 years,3,male : single,...,4,if not A121 : building society savings agreeme...,53,none,own,1,skilled employee / official,1,none,yes
7,0,0 <= ... < 200 DM,36,existing credits paid back duly till now,car (used),6948,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",35,none,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
8,0,no checking account,12,existing credits paid back duly till now,domestic appliances,3059,.. >= 1000 DM,4 <= ... < 7 years,2,male : divorced/separated,...,4,real estate,61,none,own,1,unskilled - resident,1,none,yes
9,1,0 <= ... < 200 DM,30,critical account/ other credits existing (not ...,car (new),5234,... < 100 DM,unemployed,4,male : married/widowed,...,2,"if not A121/A122 : car or other, not in attrib...",28,none,own,2,management/ self-employed/ highly qualified em...,1,none,yes
10,1,0 <= ... < 200 DM,12,existing credits paid back duly till now,car (new),1295,... < 100 DM,... < 1 year,3,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",25,none,rent,1,skilled employee / official,1,none,yes
11,1,< 0 DM,48,existing credits paid back duly till now,business,4308,... < 100 DM,... < 1 year,3,female : divorced/separated/married,...,4,if not A121 : building society savings agreeme...,24,none,rent,1,skilled employee / official,1,none,yes
12,0,0 <= ... < 200 DM,12,existing credits paid back duly till now,domestic appliances,1567,... < 100 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",22,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
13,1,< 0 DM,24,critical account/ other credits existing (not ...,car (new),1199,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",60,none,own,2,unskilled - resident,1,none,yes
14,0,< 0 DM,15,existing credits paid back duly till now,car (new),1403,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,4,"if not A121/A122 : car or other, not in attrib...",28,none,rent,1,skilled employee / official,1,none,yes
15,1,< 0 DM,24,existing credits paid back duly till now,domestic appliances,1282,100 <= ... < 500 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",32,none,own,1,unskilled - resident,1,none,yes
16,0,no checking account,24,critical account/ other credits existing (not ...,domestic appliances,2424,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,if not A121 : building society savings agreeme...,53,none,own,2,skilled employee / official,1,none,yes
17,0,< 0 DM,30,no credits taken/ all credits paid back duly,business,8072,unknown/ no savings account,... < 1 year,2,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",25,bank,own,3,skilled employee / official,1,none,yes
18,1,0 <= ... < 200 DM,24,existing credits paid back duly till now,car (used),12579,... < 100 DM,.. >= 7 years,4,female : divorced/separated/married,...,2,unknown / no property,44,none,for free,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
19,0,no checking account,24,existing credits paid back duly till now,domestic appliances,3430,500 <= ... < 1000 DM,.. >= 7 years,3,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",31,none,own,1,skilled employee / official,2,"yes, registered under the customers name",yes
20,0,no checking account,9,critical account/ other credits existing (not ...,car (new),2134,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",48,none,own,3,skilled employee / official,1,"yes, registered under the customers name",yes
21,0,< 0 DM,6,existing credits paid back duly till now,domestic appliances,2647,500 <= ... < 1000 DM,1 <= ... < 4 years,2,male : single,...,3,real estate,44,none,rent,1,skilled employee / official,2,none,yes
22,0,< 0 DM,10,critical account/ other credits existing (not ...,car (new),2241,... < 100 DM,... < 1 year,1,male : single,...,3,real estate,48,none,rent,2,unskilled - resident,2,none,no
23,0,0 <= ... < 200 DM,12,critical account/ other credits existing (not ...,car (used),1804,100 <= ... < 500 DM,... < 1 year,3,male : single,...,4,if not A121 : building society savings agreeme...,44,none,own,1,skilled employee / official,1,none,yes
24,0,no checking account,10,critical account/ other credits existing (not ...,radio/television,2069,unknown/ no savings account,1 <= ... < 4 years,2,male : married/widowed,...,1,"if not A121/A122 : car or other, not in attrib...",26,none,own,2,skilled employee / official,1,none,no
25,0,< 0 DM,6,existing credits paid back duly till now,radio/television,1374,... < 100 DM,1 <= ... < 4 years,1,male : single,...,2,real estate,36,bank,own,1,unskilled - resident,1,"yes, registered under the customers name",yes
26,0,no checking account,6,no credits taken/ all credits paid back duly,domestic appliances,426,... < 100 DM,.. >= 7 years,4,male : married/widowed,...,4,"if not A121/A122 : car or other, not in attrib...",39,none,own,1,unskilled - resident,1,none,yes
27,0,>= 200 DM / salary assignments for at least 1 ...,12,all credits at this bank paid back duly,domestic appliances,409,.. >= 1000 DM,1 <= ... < 4 years,3,female : divorced/separated/married,...,3,real estate,42,none,rent,2,skilled employee / official,1,none,yes
28,0,0 <= ... < 200 DM,7,existing credits paid back duly till now,domestic appliances,2415,... < 100 DM,1 <= ... < 4 years,3,male : single,...,2,real estate,34,none,own,1,skilled employee / official,1,none,yes
29,1,< 0 DM,60,delay in paying off in the past,business,6836,... < 100 DM,.. >= 7 years,3,male : single,...,4,unknown / no property,63,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0,0 <= ... < 200 DM,15,existing credits paid back duly till now,education,1514,100 <= ... < 500 DM,1 <= ... < 4 years,4,male : single,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
971,0,no checking account,24,existing credits paid back duly till now,car (new),7393,... < 100 DM,1 <= ... < 4 years,1,male : single,...,4,if not A121 : building society savings agreeme...,43,none,own,1,unskilled - resident,2,none,yes
972,1,< 0 DM,24,all credits at this bank paid back duly,car (new),1193,... < 100 DM,unemployed,1,female : divorced/separated/married,...,4,unknown / no property,29,none,rent,2,unemployed/ unskilled - non-resident,1,none,yes
973,1,< 0 DM,60,existing credits paid back duly till now,business,7297,... < 100 DM,.. >= 7 years,4,male : single,...,4,unknown / no property,36,none,rent,1,skilled employee / official,1,none,yes
974,0,no checking account,30,critical account/ other credits existing (not ...,domestic appliances,2831,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",33,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
975,0,>= 200 DM / salary assignments for at least 1 ...,24,existing credits paid back duly till now,domestic appliances,1258,500 <= ... < 1000 DM,1 <= ... < 4 years,3,female : divorced/separated/married,...,3,"if not A121/A122 : car or other, not in attrib...",57,none,own,1,unskilled - resident,1,none,yes
976,0,0 <= ... < 200 DM,6,existing credits paid back duly till now,domestic appliances,753,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,3,real estate,64,none,own,1,skilled employee / official,1,none,yes
977,0,0 <= ... < 200 DM,18,delay in paying off in the past,business,2427,unknown/ no savings account,.. >= 7 years,4,male : single,...,2,if not A121 : building society savings agreeme...,42,none,own,2,skilled employee / official,1,none,yes
978,1,no checking account,24,delay in paying off in the past,car (new),2538,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",47,none,own,2,unskilled - resident,2,none,yes
979,1,0 <= ... < 200 DM,15,all credits at this bank paid back duly,car (new),1264,100 <= ... < 500 DM,1 <= ... < 4 years,2,male : married/widowed,...,2,if not A121 : building society savings agreeme...,25,none,rent,1,skilled employee / official,1,none,yes
980,1,0 <= ... < 200 DM,30,critical account/ other credits existing (not ...,radio/television,8386,... < 100 DM,4 <= ... < 7 years,2,male : single,...,2,if not A121 : building society savings agreeme...,49,none,own,1,skilled employee / official,1,none,yes
981,1,no checking account,48,existing credits paid back duly till now,business,4844,... < 100 DM,unemployed,3,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",33,bank,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
982,0,>= 200 DM / salary assignments for at least 1 ...,21,existing credits paid back duly till now,car (new),2923,100 <= ... < 500 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",28,bank,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
983,1,< 0 DM,36,existing credits paid back duly till now,car (used),8229,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,if not A121 : building society savings agreeme...,26,none,own,1,skilled employee / official,2,none,yes
984,0,no checking account,24,critical account/ other credits existing (not ...,radio/television,2028,... < 100 DM,4 <= ... < 7 years,2,male : single,...,2,if not A121 : building society savings agreeme...,30,none,own,2,unskilled - resident,1,none,yes
985,0,< 0 DM,15,critical account/ other credits existing (not ...,radio/television,1433,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,3,if not A121 : building society savings agreeme...,25,none,rent,2,skilled employee / official,1,none,yes
986,0,>= 200 DM / salary assignments for at least 1 ...,42,no credits taken/ all credits paid back duly,business,6289,... < 100 DM,... < 1 year,2,male : divorced/separated,...,1,if not A121 : building society savings agreeme...,33,none,own,2,skilled employee / official,1,none,yes
987,0,no checking account,13,existing credits paid back duly till now,domestic appliances,1409,100 <= ... < 500 DM,unemployed,2,female : divorced/separated/married,...,4,real estate,64,none,own,1,skilled employee / official,1,none,yes
988,0,< 0 DM,24,existing credits paid back duly till now,car (used),6579,... < 100 DM,unemployed,4,male : single,...,2,unknown / no property,29,none,for free,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
989,0,0 <= ... < 200 DM,24,critical account/ other credits existing (not ...,domestic appliances,1743,... < 100 DM,.. >= 7 years,4,male : single,...,2,if not A121 : building society savings agreeme...,48,none,own,2,unskilled - resident,1,none,yes
990,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),3565,unknown/ no savings account,... < 1 year,2,male : single,...,1,if not A121 : building society savings agreeme...,37,none,own,2,unskilled - resident,2,none,yes
991,0,no checking account,15,all credits at this bank paid back duly,domestic appliances,1569,100 <= ... < 500 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",34,bank,own,1,unskilled - resident,2,none,yes
992,0,< 0 DM,18,existing credits paid back duly till now,domestic appliances,1936,unknown/ no savings account,4 <= ... < 7 years,2,male : married/widowed,...,4,"if not A121/A122 : car or other, not in attrib...",23,none,rent,2,unskilled - resident,1,none,yes
993,0,< 0 DM,36,existing credits paid back duly till now,radio/television,3959,... < 100 DM,unemployed,4,male : single,...,3,if not A121 : building society savings agreeme...,30,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
994,0,no checking account,12,existing credits paid back duly till now,car (new),2390,unknown/ no savings account,.. >= 7 years,4,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",50,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [4]:
df.shape

(1000, 21)

In [5]:
# Lets build a Ensemble model but need to modify the dataset first

In [6]:
#check for missing values
df.isnull().sum()

default                       0
account_check_status          0
duration_in_month             0
credit_history                0
purpose                       0
credit_amount                 0
savings                       0
present_emp_since             0
installment_as_income_perc    0
personal_status_sex           0
other_debtors                 0
present_res_since             0
property                      0
age                           0
other_installment_plans       0
housing                       0
credits_this_bank             0
job                           0
people_under_maintenance      0
telephone                     0
foreign_worker                0
dtype: int64

In [7]:
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
default,1000,NaN,NaN,NaN,0.3,0.458487,0,0,0,1,1
account_check_status,1000,4,no checking account,394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration_in_month,1000,NaN,NaN,NaN,20.903,12.0588,4,12,18,24,72
credit_history,1000,5,existing credits paid back duly till now,530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purpose,1000,10,domestic appliances,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
credit_amount,1000,NaN,NaN,NaN,3271.26,2822.74,250,1365.5,2319.5,3972.25,18424
savings,1000,5,... < 100 DM,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN
present_emp_since,1000,5,1 <= ... < 4 years,339,NaN,NaN,NaN,NaN,NaN,NaN,NaN
installment_as_income_perc,1000,NaN,NaN,NaN,2.973,1.11871,1,2,3,4,4
personal_status_sex,1000,4,male : single,548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
other_debtors,1000,3,none,907,NaN,NaN,NaN,NaN,NaN,NaN,NaN
present_res_since,1000,NaN,NaN,NaN,2.845,1.10372,1,2,3,4,4
property,1000,4,"if not A121/A122 : car or other, not in attrib...",332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,1000,NaN,NaN,NaN,35.546,11.3755,19,27,33,42,75
other_installment_plans,1000,3,none,814,NaN,NaN,NaN,NaN,NaN,NaN,NaN
housing,1000,3,own,713,NaN,NaN,NaN,NaN,NaN,NaN,NaN
credits_this_bank,1000,NaN,NaN,NaN,1.407,0.577654,1,1,1,2,4
job,1000,4,skilled employee / official,630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
people_under_maintenance,1000,NaN,NaN,NaN,1.155,0.362086,1,1,1,1,2
telephone,1000,2,none,596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
foreign_worker,1000,2,yes,963,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dtypes

default                        int64
account_check_status          object
duration_in_month              int64
credit_history                object
purpose                       object
credit_amount                  int64
savings                       object
present_emp_since             object
installment_as_income_perc     int64
personal_status_sex           object
other_debtors                 object
present_res_since              int64
property                      object
age                            int64
other_installment_plans       object
housing                       object
credits_this_bank              int64
job                           object
people_under_maintenance       int64
telephone                     object
foreign_worker                object
dtype: object

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [9]:
categorical_columns = ["account_check_status", "credit_history", "purpose", "savings", "present_emp_since", "personal_status_sex", "other_debtors", "property", "other_installment_plans", "housing", "job", "telephone", "foreign_worker" ]
len(categorical_columns)

13

In [10]:
df_with_dummies = pd.get_dummies( df, columns = categorical_columns )
df_with_dummies.shape
# df_with_dummies

(1000, 62)

In [11]:
df_with_dummies.head()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
0,0,6,1169,4,4,67,2,1,0,1,...,1,0,0,1,0,0,0,1,0,1
1,1,48,5951,2,2,22,1,1,1,0,...,1,0,0,1,0,0,1,0,0,1
2,0,12,2096,2,3,49,1,2,0,0,...,1,0,0,0,0,1,1,0,0,1
3,0,42,7882,2,4,45,1,2,0,1,...,0,0,0,1,0,0,1,0,0,1
4,1,24,4870,3,4,53,2,2,0,1,...,0,0,0,1,0,0,1,0,0,1

### Check for highly correlated variables but don't required any treatment for this use case

In [12]:
df_with_dummies.corr()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
default,1.000000,0.214927,0.154739,0.072404,0.002967,-0.091127,-0.045732,-0.003015,0.119581,0.258333,...,-0.134589,0.092785,0.040559,-0.013559,0.005951,-2.182179e-02,0.036466,-0.036466,-0.082079,0.082079
duration_in_month,0.214927,1.000000,0.624984,0.074749,0.034067,-0.036136,-0.011284,-0.023834,0.089452,0.022244,...,-0.075169,-0.064417,0.147515,0.055010,-0.044043,-1.812030e-01,-0.164718,0.164718,-0.138196,0.138196
credit_amount,0.154739,0.624984,1.000000,-0.271316,0.028926,0.032716,0.020795,0.017142,0.119612,-0.020912,...,-0.117497,-0.024611,0.319715,-0.092636,-0.027969,-1.617570e-01,-0.276995,0.276995,-0.050050,0.050050
installment_as_income_perc,0.072404,0.074749,-0.271316,1.000000,0.049302,0.058266,0.021669,-0.071207,-0.051906,0.046917,...,0.049922,-0.091373,0.042805,0.042623,-0.087834,-5.723714e-02,-0.014413,0.014413,-0.090024,0.090024
present_res_since,0.002967,0.034067,0.028926,0.049302,1.000000,0.266419,0.089625,0.042643,-0.055817,0.088350,...,-0.297547,0.167285,0.004952,-0.000657,-0.034545,9.064820e-03,-0.095359,0.095359,-0.054097,0.054097
age,-0.091127,-0.036136,0.032716,0.058266,0.266419,1.000000,0.149254,0.118201,-0.078121,-0.011162,...,0.006553,-0.212620,0.127605,-0.148283,0.059954,4.371237e-02,-0.145259,0.145259,-0.006151,0.006151
credits_this_bank,-0.045732,-0.011284,0.020795,0.021669,0.089625,0.149254,1.000000,0.109667,-0.052662,-0.029195,...,0.041386,-0.058070,-0.010906,-0.001471,0.059582,-1.039203e-02,-0.065553,0.065553,-0.009717,0.009717
people_under_maintenance,-0.003015,-0.023834,0.017142,-0.071207,0.042643,0.118201,0.109667,1.000000,-0.066643,0.059041,...,-0.027579,-0.063033,-0.015096,-0.106737,-0.007723,1.450658e-01,0.014753,-0.014753,0.077071,-0.077071
account_check_status_0 <= ... < 200 DM,0.119581,0.089452,0.119612,-0.051906,-0.055817,-0.078121,-0.052662,-0.066643,1.000000,-0.372670,...,0.001012,-0.000888,0.051999,-0.067587,0.047382,1.804077e-02,-0.015276,0.015276,-0.059172,0.059172
account_check_status_< 0 DM,0.258333,0.022244,-0.020912,0.046917,0.088350,-0.011162,-0.029195,0.059041,-0.372670,1.000000,...,-0.125705,0.093310,-0.022427,-0.002879,-0.000428,2.354213e-02,0.067149,-0.067149,0.057751,-0.057751
account_check_status_>= 200 DM / salary assignments for at least 1 year,-0.044009,-0.076455,-0.100510,-0.041591,-0.064303,0.037504,-0.040213,-0.008700,-0.157296,-0.159297,...,0.018934,-0.035183,-0.015346,-0.022932,0.073347,1.440549e-02,0.028955,-0.028955,0.036392,-0.036392
account_check_status_no checking account,-0.322436,-0.063467,-0.039485,0.024961,0.001985,0.062436,0.094435,0.010914,-0.489136,-0.495358,...,0.104407,-0.066870,-0.019088,0.075366,-0.079080,-4.502340e-02,-0.061825,0.061825,-0.017108,0.017108
credit_history_all credits at this bank paid back duly,0.134448,0.033728,0.005923,0.030339,0.027694,0.014360,-0.095824,0.069185,0.019002,0.089054,...,-0.060799,0.014851,0.022804,-0.065917,0.060699,3.705968e-02,0.016955,-0.016955,-0.019952,0.019952
credit_history_critical account/ other credits existing (not at this bank),-0.181713,-0.075575,-0.041807,0.041089,0.088460,0.163681,0.501364,0.021765,-0.118007,-0.065430,...,0.083011,-0.088532,-0.008440,0.001866,0.023277,-3.295701e-03,-0.043110,0.043110,0.036770,-0.036770
credit_history_delay in paying off in the past,0.012325,0.136927,0.113552,-0.014597,-0.020351,0.016129,0.141742,0.042526,0.090174,-0.095859,...,0.017604,-0.043756,0.049464,-0.003217,-0.046589,-2.294429e-02,-0.046384,0.046384,-0.060888,0.060888
credit_history_existing credits paid back duly till now,0.043722,-0.069751,-0.086682,-0.020947,-0.081458,-0.155848,-0.540354,-0.078339,0.015498,0.066396,...,-0.043805,0.084304,-0.025052,0.017015,-0.022675,1.001805e-02,0.057655,-0.057655,0.004140,-0.004140
credit_history_no credits taken/ all credits paid back duly,0.144767,0.118077,0.147191,-0.054401,0.000925,-0.022370,0.112427,0.011281,0.083318,0.023341,...,-0.039709,0.037805,-0.013221,0.029595,0.004175,-2.551552e-02,0.001664,-0.001664,0.014058,-0.014058
purpose_(vacation - does not exist?),0.070088,0.003750,-0.007388,0.042471,0.040552,0.068483,-0.010728,0.041204,-0.004656,-0.007201,...,-0.097880,0.000598,-0.005168,0.004752,-0.003128,2.340080e-17,-0.016831,0.016831,-0.044969,0.044969
purpose_business,0.036129,0.164113,0.103016,-0.025326,-0.048899,-0.001772,0.084980,-0.000327,0.105967,-0.087712,...,0.051083,-0.012013,0.006128,-0.007768,-0.003087,5.068291e-03,-0.088221,0.088221,-0.046343,0.046343
purpose_car (new),0.096900,-0.109999,-0.040793,-0.045801,0.019848,0.075044,0.035845,0.102663,-0.015692,0.073527,...,-0.009618,-0.011620,-0.004204,-0.085223,0.094233,7.204063e-02,0.036275,-0.036275,0.154436,-0.154436
purpose_car (used),-0.099791,0.144939,0.252101,-0.094797,0.107257,0.050858,-0.005248,0.054862,-0.049760,-0.016390,...,-0.141375,0.039160,0.183035,-0.033321,-0.028395,-1.118572e-01,-0.136693,0.136693,-0.031564,0.031564
purpose_domestic appliances,-0.106922,-0.044319,-0.173203,0.138552,-0.090043,-0.046401,-0.030706,-0.082464,-0.001607,-0.113454,...,0.134705,-0.070414,-0.096839,0.085802,-0.063164,5.567943e-03,0.082243,-0.082243,-0.063242,0.063242
purpose_education,0.020828,-0.022549,-0.028875,0.040204,0.027253,0.039567,0.071390,0.029952,0.047382,-0.015713,...,0.019803,-0.034465,-0.062511,-0.012144,0.070459,4.431315e-02,0.054017,-0.054017,0.006718,-0.006718
purpose_furniture/equipment,0.028058,0.104516,0.192893,-0.030193,0.040460,0.042365,0.017752,0.003553,0.078121,0.014661,...,-0.011288,-0.051460,0.186835,-0.124785,0.046082,-3.214393e-02,-0.115142,0.115142,0.027052,-0.027052
purpose_radio/television,0.020971,-0.062804,-0.034037,-0.062979,-0.006934,-0.127657,-0.070478,-0.086515,-0.056750,0.130479,...,-0.040496,0.105700,-0.042335,0.064393,-0.052801,-2.077824e-02,0.053587,-0.053587,-0.009590,0.009590
purpose_repairs,0.008016,-0.037212,-0.069268,0.019088,-0.017816,-0.012562,-0.061782,-0.047201,-0.025433,0.035253,...,0.029317,-0.003546,-0.045933,0.046414,0.046082,-3.214393e-02,0.015871,-0.015871,-0.021602,0.021602
purpose_retraining,-0.039281,-0.072151,-0.069764,0.040180,0.013390,-0.007370,-0.012159,0.017701,0.013826,-0.011063,...,0.037054,-0.016877,-0.009900,-0.058557,-0.014293,8.470946e-02,0.013724,-0.013724,-0.018680,0.018680
savings_.. >= 1000 DM,-0.085749,-0.048261,-0.055542,0.034708,-0.002375,0.032007,0.036169,-0.005687,0.011478,-0.075014,...,0.028707,0.004979,-0.054065,0.055810,-0.001786,-1.871203e-02,-0.005796,0.005796,0.030334,-0.030334
savings_... < 100 DM,0.161007,-0.047228,-0.036443,-0.008626,-0.089921,-0.044084,0.033909,-0.019568,-0.047045,0.246438,...,0.000276,-0.010327,0.038885,-0.058800,-0.003706,3.781097e-02,0.060861,-0.060861,-0.003367,0.003367
savings_100 <= ... < 500 DM,0.022255,0.051587,0.013546,-0.015356,0.017789,-0.075302,-0.010946,0.000318,0.143136,-0.119659,...,-0.017738,0.030578,-0.011525,0.007564,-0.050823,1.973951e-02,0.024217,-0.024217,0.003294,-0.003294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
present_emp_since_.. >= 7 years,-0.059733,0.017471,-0.009619,0.133371,0.302796,0.362520,0.123622,0.081262,-0.067731,-0.017133,...,-0.042658,-0.085728,0.081335,0.012435,-0.087285,-5.520656e-02,-0.083386,0.083386,-0.053144,0.053144
present_emp_since_... < 1 year,0.106397,-0.056792,-0.051502,-0.034021,-0.164155,-0.209967,-0.096399,-0.048764,0.082058,0.011122,...,-0.021299,0.112062,-0.070563,-0.007464,0.021967,6.359630e-02,0.072837,-0.072837,0.037004,-0.037004
present_emp_since_1 <= ... < 4 years,0.010603,-0.031920,-0.037052,-0.069614,-0.140663,-0.154975,-0.073079,-0.032367,-0.029493,-0.004197,...,0.048068,0.001758,-0.131903,0.071890,-0.093007,6.443165e-02,0.090218,-0.090218,0.038689,-0.038689
present_emp_since_4 <= ... < 7 years,-0.075980,0.079635,0.053755,-0.000712,-0.031156,-0.083520,0.037380,0.022084,-0.004794,-0.009912,...,0.040456,0.005876,-0.035299,0.051247,-0.068838,-5.275521e-03,-0.036038,0.036038,0.007853,-0.007853
present_emp_since_unemployed,0.039815,-0.005156,0.086159,-0.049420,0.036123,0.110562,0.012684,-0.041363,0.059118,0.037301,...,-0.047722,-0.033511,0.278206,-0.232412,0.413756,-1.181810e-01,-0.084101,0.084101,-0.050394,0.050394
personal_status_sex_female : divorced/separated/married,0.075493,-0.081432,-0.093482,-0.086302,0.013818,-0.161694,-0.094260,-0.203431,0.012726,0.014834,...,-0.119638,0.222845,-0.054070,0.007613,0.076356,1.081097e-02,0.075966,-0.075966,-0.051202,0.051202
personal_status_sex_male : divorced/separated,0.050063,0.006415,0.033619,-0.097047,-0.038473,0.062430,-0.026622,-0.060222,0.005691,0.033949,...,0.054265,-0.035308,0.046516,-0.004752,-0.034408,-2.294157e-02,-0.016831,0.016831,-0.020661,0.020661
personal_status_sex_male : married/widowed,-0.019630,-0.084418,-0.138289,0.007686,-0.102684,-0.145529,-0.032623,-0.117209,0.072188,-0.032643,...,0.018387,0.058954,-0.074206,0.028952,-0.000566,3.113907e-02,0.029388,-0.029388,0.047583,-0.047583
personal_status_sex_male : single,-0.080677,0.121889,0.152458,0.118233,0.063639,0.207434,0.118198,0.283483,-0.056240,-0.009695,...,0.076736,-0.225860,0.072970,-0.021807,-0.055559,-1.808352e-02,-0.080290,0.080290,0.028996,-0.028996
other_debtors_co-applicant,0.062728,0.029698,0.079076,-0.013048,0.001623,-0.018357,-0.006001,-0.032817,-0.023075,0.065197,...,-0.036043,0.048162,0.027438,-0.008670,0.037750,-2.773713e-02,0.016074,-0.016074,0.066338,-0.066338
other_debtors_guarantor,-0.055039,-0.039594,-0.065237,-0.006429,-0.028334,-0.023923,-0.024682,0.036589,0.101690,0.047987,...,0.029113,0.019879,-0.084930,0.020896,-0.035127,6.305539e-02,0.073503,-0.073503,0.097256,-0.097256
other_debtors_none,-0.000751,0.009993,-0.004116,0.013823,0.020553,0.030822,0.022966,-0.005566,-0.061985,-0.081198,...,0.002352,-0.048079,0.046193,-0.010055,0.001080,-2.926670e-02,-0.067165,0.067165,-0.119641,0.119641
property_if not A121 : building society savings agreement/ life insurance,0.007238,-0.056706,-0.032556,-0.020628,-0.023708,-0.028686,-0.009946,-0.006284,-0.039577,0.087282,...,0.097326,0.027636,-0.035599,0.018842,-0.033981,2.132151e-02,0.022826,-0.022826,0.042873,-0.042873
"property_if not A121/A122 : car or other, not in attribute 6",0.011121,0.119486,0.075679,0.017023,-0.041462,-0.143485,0.010577,-0.073108,0.012891,-0.080785,...,0.160934,0.003168,0.047026,0.104852,-0.033354,-1.560738e-01,-0.068685,0.068685,-0.104439,0.104439
property_real estate,-0.119300,-0.242586,-0.248338,-0.034555,-0.085194,0.011538,0.008568,0.020203,-0.004300,-0.036215,...,0.122495,0.026215,-0.173583,-0.076686,0.027211,2.366807e-01,0.162717,-0.162717,0.112624,-0.112624
property_unknown / no property,0.125750,0.212838,0.248922,0.044990,0.188028,0.206368,-0.012850,0.077548,0.034825,0.048476,...,-0.476496,-0.069133,0.196672,-0.063236,0.049334,-1.163600e-01,-0.139930,0.139930,-0.054276,0.054276
other_installment_plans_bank,0.096510,0.035851,0.039474,-0.016150,0.014530,0.046552,0.042190,0.075519,0.049600,0.012405,...,-0.032634,-0.021724,0.052326,-0.075258,-0.001143,4.480461e-02,-0.010863,0.010863,-0.002190,0.002190
other_installment_plans_none,-0.113285,-0.067602,-0.048292,-0.016139,0.016704,-0.035362,-0.050290,-0.072220,-0.034576,-0.017494,...,-0.024895,0.069011,-0.061315,0.086127,0.019133,-5.653977e-02,0.025433,-0.025433,0.025623,-0.025623
other_installment_plans_stores,0.050523,0.065688,0.024262,0.056071,-0.054460,-0.011080,0.023496,0.009335,-0.017507,0.011886,...,0.099115,-0.091369,0.027198,-0.035330,-0.033308,3.071270e-02,-0.029003,0.029003,-0.043530,0.043530
housing_for free,0.081556,0.189117,0.201643,0.040098,0.227044,0.253058,0.011406,0.118047,-0.000378,0.067961,...,-0.548445,-0.162474,0.154388,-0.033633,0.035671,-1.095430e-01,-0.114036,0.114036,-0.068205,0.068205
housing_own,-0.134589,-0.075169,-0.117497,0.049922,-0.297547,0.006553,0.041386,-0.027579,0.001012,-0.125705,...,1.000000,-0.735968,-0.071741,0.012866,-0.040480,6.300270e-02,0.036275,-0.036275,0.018960,-0.018960
housing_rent,0.092785,-0.064417,-0.024611,-0.091373,0.167285,-0.212620,-0.058070,-0.063033,-0.000888,0.093310,...,-0.735968,1.000000,-0.040344,0.012049,0.018886,1.434712e-02,0.049524,-0.049524,0.032849,-0.032849
job_management/ self-employed/ highly qualified employee/ officer,0.040559,0.147515,0.319715,0.042805,0.004952,0.127605,-0.010906,-0.015096,0.051999,-0.022427,...,-0.071741,-0.040344,1.000000,-0.543852,-0.062511,-2.083920e-01,-0.385706,0.385706,-0.051858,0.051858
job_skilled employee / official,-0.013559,0.055010,-0.092636,0.042623,-0.000657,-0.148283,-0.001471,-0.106737,-0.067587,-0.002879,...,0.012866,0.012049,-0.543852,1.000000,-0.195709,-6.524383e-01,0.061289,-0.061289,-0.047292,0.047292
job_unemployed/ unskilled - non-resident,0.005951,-0.044043,-0.027969,-0.087834,-0.034545,0.059954,0.059582,-0.007723,0.047382,-0.000428,...,-0.040480,0.018886,-0.062511,-0.195709,1.000000,-7.499148e-02,0.040124,-0.040124,0.042834,-0.042834
job_unskilled - resident,-0.021822,-0.181203,-0.161757,-0.057237,0.009065,0.043712,-0.010392,0.145066,0.018041,0.023542,...,0.063003,0.014347,-0.208392,-0.652438,-0.074991,1.000000e+00,0.253720,-0.253720,0.087412,-0.087412
telephone_none,0.036466,-0.164718,-0.276995,-0.014413,-0.095359,-0.145259,-0.065553,0.014753,-0.015276,0.067149,...,0.036275,0.049524,-0.385706,0.061289,0.040124,2.537205e-01,1.000000,-1.000000,0.107401,-0.107401
"telephone_yes, registered under the customers name",-0.036466,0.164718,0.276995,0.014413,0.095359,0.145259,0.065553,-0.014753,0.015276,-0.067149,...,-0.036275,-0.049524,0.385706,-0.061289,-0.040124,-2.537205e-01,-1.000000,1.000000,-0.107401,0.107401
foreign_worker_no,-0.082079,-0.138196,-0.050050,-0.090024,-0.054097,-0.006151,-0.009717,0.077071,-0.059172,0.057751,...,0.018960,0.032849,-0.051858,-0.047292,0.042834,8.741177e-02,0.107401,-0.107401,1.000000,-1.000000
foreign_worker_yes,0.082079,0.138196,0.050050,0.090024,0.054097,0.006151,0.009717,-0.077071,0.059172,-0.057751,...,-0.018960,-0.032849,0.051858,0.047292,-0.042834,-8.741177e-02,-0.107401,0.107401,-1.000000,1.000000

### Drop the original variables which are converted to dummy

### Answer: 
### The original variables which are converted to dummy are removed in the above step when we do get_dummies()
### pd.get_dummies

In [13]:
df_with_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 62 columns):
default                                                                       1000 non-null int64
duration_in_month                                                             1000 non-null int64
credit_amount                                                                 1000 non-null int64
installment_as_income_perc                                                    1000 non-null int64
present_res_since                                                             1000 non-null int64
age                                                                           1000 non-null int64
credits_this_bank                                                             1000 non-null int64
people_under_maintenance                                                      1000 non-null int64
account_check_status_0 <= ... < 200 DM                                        1000 non-null uint8
account_check_status_< 0 DM                                                   1000 non-null uint8
account_check_status_>= 200 DM / salary assignments for at least 1 year       1000 non-null uint8
account_check_status_no checking account                                      1000 non-null uint8
credit_history_all credits at this bank paid back duly                        1000 non-null uint8
credit_history_critical account/ other credits existing (not at this bank)    1000 non-null uint8
credit_history_delay in paying off in the past                                1000 non-null uint8
credit_history_existing credits paid back duly till now                       1000 non-null uint8
credit_history_no credits taken/ all credits paid back duly                   1000 non-null uint8
purpose_(vacation - does not exist?)                                          1000 non-null uint8
purpose_business                                                              1000 non-null uint8
purpose_car (new)                                                             1000 non-null uint8
purpose_car (used)                                                            1000 non-null uint8
purpose_domestic appliances                                                   1000 non-null uint8
purpose_education                                                             1000 non-null uint8
purpose_furniture/equipment                                                   1000 non-null uint8
purpose_radio/television                                                      1000 non-null uint8
purpose_repairs                                                               1000 non-null uint8
purpose_retraining                                                            1000 non-null uint8
savings_.. >= 1000 DM                                                         1000 non-null uint8
savings_... < 100 DM                                                          1000 non-null uint8
savings_100 <= ... < 500 DM                                                   1000 non-null uint8
savings_500 <= ... < 1000 DM                                                  1000 non-null uint8
savings_unknown/ no savings account                                           1000 non-null uint8
present_emp_since_.. >= 7 years                                               1000 non-null uint8
present_emp_since_... < 1 year                                                1000 non-null uint8
present_emp_since_1 <= ... < 4 years                                          1000 non-null uint8
present_emp_since_4 <= ... < 7 years                                          1000 non-null uint8
present_emp_since_unemployed                                                  1000 non-null uint8
personal_status_sex_female : divorced/separated/married                       1000 non-null uint8
personal_status_sex_male : divorced/separated                                 1000 non-null uint8
personal_status_sex_male : married/widowed                                    1000 non-null uint8
personal_status_sex_male : single                                             1000 non-null uint8
other_debtors_co-applicant                                                    1000 non-null uint8
other_debtors_guarantor                                                       1000 non-null uint8
other_debtors_none                                                            1000 non-null uint8
property_if not A121 : building society savings agreement/ life insurance     1000 non-null uint8
property_if not A121/A122 : car or other, not in attribute 6                  1000 non-null uint8
property_real estate                                                          1000 non-null uint8
property_unknown / no property                                                1000 non-null uint8
other_installment_plans_bank                                                  1000 non-null uint8
other_installment_plans_none                                                  1000 non-null uint8
other_installment_plans_stores                                                1000 non-null uint8
housing_for free                                                              1000 non-null uint8
housing_own                                                                   1000 non-null uint8
housing_rent                                                                  1000 non-null uint8
job_management/ self-employed/ highly qualified employee/ officer             1000 non-null uint8
job_skilled employee / official                                               1000 non-null uint8
job_unemployed/ unskilled - non-resident                                      1000 non-null uint8
job_unskilled - resident                                                      1000 non-null uint8
telephone_none                                                                1000 non-null uint8
telephone_yes, registered under the customers name                            1000 non-null uint8
foreign_worker_no                                                             1000 non-null uint8
foreign_worker_yes                                                            1000 non-null uint8
dtypes: int64(8), uint8(54)
memory usage: 115.4 KB

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [14]:
from sklearn.model_selection import train_test_split 

x = df_with_dummies.drop(columns='default').values
y = df_with_dummies.loc[:, 'default']

test_size = .3 
seed = 7  # Random numbmer seeding for reapeatability of the code
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=test_size, random_state=seed)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [15]:
from sklearn.ensemble import RandomForestClassifier
rfcl = RandomForestClassifier(n_estimators = 500,n_jobs=2, criterion="entropy",random_state=9999 )
rfcl = rfcl.fit(X_train, y_train)

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [16]:
from sklearn import metrics
y_pred = rfcl.predict(X_test) 
model_score = rfcl.score(X_test, y_test)

print("Accuracy is :", model_score)
print("Precision score is: ", metrics.precision_score(y_test,y_pred))
print("Recall score is: ", metrics.recall_score(y_test,y_pred))
print("F1 score is: ", metrics.f1_score(y_test, y_pred))

print("confusion metrics is : \n",metrics.confusion_matrix(y_test, y_pred))
print("classification report: \n", metrics.classification_report(y_test, y_pred))

Accuracy is : 0.8
Precision score is:  0.7346938775510204
Recall score is:  0.43373493975903615
F1 score is:  0.5454545454545455
confusion metrics is :
 [[204  13]
 [ 47  36]]
classification report:
               precision    recall  f1-score   support

           0       0.81      0.94      0.87       217
           1       0.73      0.43      0.55        83

    accuracy                           0.80       300
   macro avg       0.77      0.69      0.71       300
weighted avg       0.79      0.80      0.78       300

### Q6 Show the list of the features importance( 1 Marks)

In [17]:
df_1 = df_with_dummies.drop(['default'], axis=1)
pd.DataFrame(rfcl.feature_importances_,columns=["Imp"],index=df_1.columns)

                                                         Imp
duration_in_month                                   0.075498
credit_amount                                       0.101343
installment_as_income_perc                          0.034435
present_res_since                                   0.035781
age                                                 0.079248
...                                                      ...
job_unskilled - resident                            0.012030
telephone_none                                      0.014677
telephone_yes, registered under the customers n...  0.014888
foreign_worker_no                                   0.002919
foreign_worker_yes                                  0.003300

[61 rows x 1 columns]

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [18]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [19]:
# Use below values
num_folds = 10
seed = 77

In [20]:
#Validate the Random Forest model build above using k fold
kfold = KFold(n_splits=10, random_state=seed)

In [21]:
#Calculate Mean score

In [22]:
#rf = RandomForestClassifier()
rf = RandomForestClassifier(n_estimators = 500,n_jobs=2, criterion="entropy",random_state=9999 )
results = cross_val_score(rf, x, y, scoring='neg_mean_squared_error', cv=kfold)
print("Mean Square Error: %.3f (%.3f)" % (-results.mean(), results.std()))

Mean Square Error: 0.235 (0.050)

In [23]:
results = cross_val_score(rf, x, y, scoring='r2', cv=kfold)
results
print("R2: %.3f (%.3f)" % (results.mean(), results.std()))

R2: -0.126 (0.195)

In [24]:
# Calculate score standard deviation using std()

In [30]:
y_kfold_pred = cross_val_predict(rf, x, y, cv=kfold)
y_kfold_pred

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0])

# Q8 Print the confusion matrix( 1 Marks)

In [32]:
print("confusion metrics is : \n",metrics.confusion_matrix(y, y_kfold_pred))

confusion metrics is :
 [[649  51]
 [184 116]]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [33]:
print("Accuracy is :", model_score)
print("Precision score is: ", metrics.precision_score(y,y_kfold_pred))
print("Recall score is: ", metrics.recall_score(y,y_kfold_pred))
print("F1 score is: ", metrics.f1_score(y, y_kfold_pred))

print("confusion metrics is : \n",metrics.confusion_matrix(y, y_kfold_pred))
print("classification report: \n", metrics.classification_report(y, y_kfold_pred))

Accuracy is : 0.8
Precision score is:  0.6946107784431138
Recall score is:  0.38666666666666666
F1 score is:  0.4967880085653105
confusion metrics is :
 [[649  51]
 [184 116]]
classification report:
               precision    recall  f1-score   support

           0       0.78      0.93      0.85       700
           1       0.69      0.39      0.50       300

    accuracy                           0.77      1000
   macro avg       0.74      0.66      0.67      1000
weighted avg       0.75      0.77      0.74      1000

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models